*
{
    box-sizing: border-box;
}
body
{
    position: relative;
    width: 1192px;
    height: 736px;
    left: calc(50% - 1192px/2);
    top: calc(50% - 640px/2);
    transition: 1.5s;
    background: linear-gradient(#ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
}

table
{
    transition: 1.5s;
    box-shadow: 30px 20px 20px rgba(0, 0, 0, 0.5);
    border: none;
    background-color: #DBDBDB;
    margin: 0 auto;
    align-items: center;
    width: 1143px;
    height: 684px;
    border-collapse: collapse;
    text-transform: uppercase;
    color: #484848;
}
p
{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    margin: 0;
}
.plan
{
    width: 313px;
    height: 159px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    background: #FAFAFA;
}
td
{
    text-align: center;
    border: #f2f2f2 solid 1px ;

}
.standard
{
    width: 284px;
    height: 73px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: #89C331;
    border: none;

}
.ultimate
{
    width: 284px;
    height: 73px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #FFFFFF;
    background: #F04A56;
    border: none;
}
.premium
{
    width: 284px;
    height: 73px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: #20807C;
    border: none;
}
.single
{
    background-color: #F2F2F2;;
}
.month
{
    margin: 0px;
    position: relative;
    left: 115px;
    bottom: 35px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #484848;
}
.contact
{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    width: 195px;
    height: 54px;
    background: #484848;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 9px #404040;
    border: none;
}
.contact:hover
{
    background-color: #524e4e;
}
.contact:active
{
    background-color: #524e4e;
    box-shadow: 0 3px #404040;
    transform: translateY(4px);
}
.buy_1
{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 195px;
    height: 54px;
    background: #89C331;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 9px #79B027;
    border: none;
}
.buy_1:hover
{
    background-color: #95da2b;
}
.buy_1:active
{
    background-color: #95da2b;
    box-shadow: 0 3px #79B027;
    transform: translateY(4px);
}
.buy_2
{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    width: 195px;
    height: 54px;
    background: #F04A56;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 9px #DF3A46;
    border: none;
}
.buy_2:hover
{
    background-color: #e75e69;
}
.buy_2:active
{
    background-color: #e75e69;
    box-shadow: 0 3px #DF3A46;
    transform: translateY(4px);
}
.buy_3
{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    width: 195px;
    height: 54px;
    background: #20807C;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 9px #16736F;
    border: none;
}

.buy_3:hover
{
    background-color: #238a86;
}
.buy_3:active
{
    background-color: #238a86;
    box-shadow: 0 3px #16736F;
    transform: translateY(4px);
}
.price
{
    width: 280px;
    height: 89px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;

    color: #484848;
}
.price_1
{
    top: 24px;
    left: 10px;
    position: relative;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    /* or 47% */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #484848;
}
.price_2
{
    position: relative;
    bottom: 30px;
    right: 10px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    text-transform: uppercase;

    color: #484848;
}
.button
{
    background: #EEEEEE;

}
.button_contact
{
    background: #DDDDDD;
}
.button_switch
{
    text-transform: uppercase;
    position: relative;
    color: #DBDBDB;
    padding: 8px;
    border-radius: 8px;
    background-color: black;
    border: none;

}
.switch
{
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    top: 55px;
    left: 105px;
}

.button_switch:hover
{
    background-color: rgb(45,50,102);
}